.modal {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s linear 0.5s,
    opacity 0.5s linear;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  z-index: 1111;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  padding: 36px 50px 32px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 35px 35px;
  border: none;
  position: absolute;
  top: 32px;
  right: 50px;
  transition: 0.3s;
  padding: 0;
  margin: 0;
  cursor: pointer;
  opacity: 0.4;
}

.modal__close-btn_type_preview {
  top: 0;
  right: -52.5px;

}

.modal__close-btn_type_preview:hover {
  cursor: pointer;
  opacity: 1;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 110.00000000000001%;
  color: #212121b2;
  max-width: 700px;
  display: block;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  padding: 12px 16px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #21212166;
  box-sizing: border-box;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__input::placeholder {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  color: #2121214d;
}

.modal__input:hover {
  border: 1px solid rgb(33, 33, 33);
}

.modal__error {
  display: block;
  color: #ff0000b2;
  font-weight: 500;
  font-size: 16px;
  margin-top: 8px;
}

.modal__submit-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #fcf5e5;
  background-color: #212121;
  border: none;
  border-radius: 8px;
  padding: 18px 32px;
  max-width: 156px;
  width: 100%;
}

.modal__submit-btn:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.modal__submit-btn_disabled {
  opacity: 50%;
  pointer-events: none;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  margin: 0;
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  padding: 4px 8px;
  max-width: 198px;
  border-radius: 8px;
  color: white;
  background-color: #212121;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}

.modal__title_delete {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__form_type_delete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* DELETE BUTTON */

.modal__submit-btn_type_delete {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ff6565;
  color: #212121;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  display: flex;
  flex-direction: row;
  width: 156px;
  height: 52px;
}

.modal__submit-btn_type_delete:hover {
  cursor: pointer;
  background-color: #ff3333;
}

.modal__submit-btn_type_cancel {
  background-color: transparent;
  color: #212121;
  border: 1px solid #212121;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  width: 156px;
  height: 52px;
}

.modal__submit-btn_type_cancel:hover {
  cursor: pointer;
  background-color: #212121;
  color: #ffffff;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__label {
    margin: 0 0 24px;
  }

  .modal__input {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .modal__input::placeholder {
    font-size: 16px;
  }

  .modal__submit-btn {
    width: 100%;
    max-width: none;
  }

  .modal__image {
    width: 100%;
    max-width: 288px;
    height: auto;
    border-radius: 4px;
  }

  .modal__caption {
    font-size: 16px;
  }

  .modal__form_type_delete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
  }

  .modal__submit-btn_type_delete {
    width: 156px;
    height: 52px;
    padding: 18px 32px;
    gap: 8px;
  }

  .modal__submit-btn_type_cancel {
    width: 156px;
    height: 52px;
    padding: 18px 32px;
    gap: 8px;
  }
}
